<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "cocktail.svg" %>
    <% end %>
  <a class="btn-cocktail" href="<%= new_cocktail_path %>">Add your favorite cocktail</a>
</div>
