.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  color: white;
  height: 82vh;

  & h1 {
  font-family: 'Montserrat';
  font-weight: lighter;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  }
  & p {
  font-family: 'Montserrat', 300px;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  & .navigate {
    position: absolute;
    left: 1em;
    top: 1em;
    color: white;
  }
}
