.cards-home {
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;

  & .card-cocktail {
    border: solid white 0.1em;
    width: 15em;
    height: 15em;
    border-radius: 4px;
    position: relative;
    margin: 1em;

    & p {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-weight: bold;
    }

    & img {
      border-radius: 4px;
      width: 15em;
      height: 15em;
      object-fit: cover;
    }
  }
}

.card-add-ingredient {
    display: flex;
    align-items: center;
    position: absolute;
    top: 9em;
    right: 1em;
    width: 16em;
    border-radius: 4px;
    padding: 0.5em;
    vertical-align: middle;
    background-color: $green;

    & h6 {
    text-align: center;
    margin-top: 0.5em;
    }

    &:hover {
        background-color: #DCAB79;
    }
  }

.img-cocktail {
  & img {
    margin: 1em;
    border-radius: 4px;
    width: 10em;
    height: 15em;
    float: left;
    object-fit: cover;
  }
}
