.cards-home {
display: flex;
flex-direction: row;
justify-content: center;

  & .card-cocktail {
    width: 10em;
    height: 15em;
    border-radius: 4px;
    position: relative;
    margin: 1em;

    & p {
      color: white;
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-weight: bold;
    }

    & img {
      border-radius: 4px;
      width: 10em;
    }
  }
}
