.add-dose-form {
  margin: auto;
  text-align: center;
  padding: 1em;
  width: 25em;
  border-radius: 4px;
  border: 0.1em solid silver;

  &:toggle {
    background-color: white;
  }

  & .select2-selection {
    width: 23em;
  }
}

ul {
  list-style: none;
  text-align : center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  & li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 10em;
    height: 10em;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 4px;
    border: 0.1em solid silver;
    position: relative;

    & .bottom {
      position: absolute;
      bottom: 1em;
    }
  }
}

a {
  text-decoration: none;
  color: $green;
}
