.navbar {
  justify-content: space-between;
  background: white;
  background-color: rgba(255,255,255, 0.2);
  transition: 0.5s background-color ease;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar-white {
  background-color: rgba(255,255,255, 0.8);
}
