// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  position: relative;
  color: white;

  & h1 {
  font-family: 'Montserrat';
  font-weight: lighter;
  margin: 0;
  font-size: 32px;
  font-weight: bold;
  }
  & p {
  font-family: 'Montserrat', 300px;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
  & .card-add-ingredient {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1em;
    right: 1em;
    width: 16em;
    border-radius: 4px;
    padding: 0.5em;
    vertical-align: middle;
    background-color: $green;
    opacity: 0.8;

    & h6 {
    text-align: center;
    margin-top: 0.5em;
    }

    &:hover {
        background-color: #DCAB79;
    }
  }
  & .navigate {
    position: absolute;
    left: 1em;
    top: 1em;
    color: white;
  }
}



.cards-home {
display: flex;
flex-direction: row;
justify-content: center;

  & .card-cocktail {
    width: 10em;
    height: 15em;
    border-radius: 4px;
    position: relative;
    margin: 1em;

    & p {
      color: white;
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-weight: bold;
    }

    & img {
      border-radius: 4px;
      width: 10em;
    }
  }
}

.add-dose-form {
  border-left: 0.1em solid silver;
  padding-left: 0.5em;

  &:toggle {
    background-color: white;
  }
}

ul {
  list-style: none;
  text-align : center;
  display: flex;
  justify-content: center;

  & li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    width: 10em;
    height: 10em;
    padding: 0.5em;
    margin: 0.2em;
    border-radius: 4px;
    border: 0.1em solid silver;
    position: relative;

    & .bottom {
      position: absolute;
      bottom: 1em;
    }
  }
}

a {
  text-decoration: none;
  color: $green;
}

.btn {
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 4px;
  background-color: $green;
  color: white;

  &:hover {
    background-color: #A1E0C0;
  }
}

h5 {
  padding: 0.5em;
  margin: 0.5em;
  text-align: center;
  border-bottom: 0.08em solid silver;
}
